html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#menu {
	background: #383838;
	font-family: tahoma;
	font-width: bold;
	color: white;
	width: 100%;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
	display: inline-block;
}

#menu a {
	text-decoration: none;
	color: white;
	padding: 0 6px;
	display: block;
	height: 24px;
}

#menu a:hover {
	text-decoration: none;
	color: white;
	background: #7f8c8d;
}

#update:before, #delete:before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 2px;
}

#update:before {
	background: url(images/update.png) no-repeat;
}

#delete:before {
	background: url(images/delete.png) no-repeat;
}

#calendar {
	float: right;
}

.ui-jqgrid {
	border: none;
}

#dialog label {
	display: inline-block;
	width: 100px;
}